.drop-container {
    color: black;
    position: relative;
    border-spacing: 12px;
    background-color: rgb(106, 207, 106);
}

.drop-container:hover * {
    color: white;
    font-size: 110%;
    
}

.select-div {
    width: 60%;
    overflow:hidden;
}
.currency-select {
    width: 60%;
    border: none;
    background-color: rgb(106, 207, 106);
}

.currency-select .currency-option {
    width: 150%;
    color: black;
    border: none;
    background-color: initial
}

.currency-select .currency-option:hover {
    width: 150%;
    color: black;
    border: none;
    background-color: initial;
    font-size: 100%;
}

.budget {
    display: inline-block;
}

.plus-minus-button {
    border: hidden;
    background: transparent;
    background-color: white;
}

.budget-label {
    float: left;
}

.budget-span {
    display: block;
    overflow: hidden;
    padding: 0px 4px 0px 6px;
}

.budget-input {
    width: 100%;
}